<footer class="footer">
  <div class="wrapper padding">
    <div class="row">
      <div class="col">
        <a href="/">
          {{ media["theme://images/PetersenWest-logo.svg"].html()|raw }}
        </a>
      </div>
      <div class="w-100"></div>
      <div class="col-lg-4">
        <div class="footer-menu">
          <span class="footer-menu-header">Location</span><br>
          <span itemprop="address">
            <span itemprop="streetAddress">{{ site.company.address.street_address|e }}</span><br>
            <span itemprop="addressLocality">{{ site.company.address.city|e }}</span>, 
            <span itemprop="addressRegion">{{ site.company.address.state|e }}</span> 
            <span itemprop="postalCode">{{ site.company.address.zip|e }}</span>
          </span>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-menu">
          <span class="footer-menu-header">Contact</span><br>
          <a href="tel:+1-{{ site.company.phone|trim|replace({'(': '', ')': '', ' ': '-', '.': '-'}) }}">
            <span itemprop="telephone">{{ site.company.phone|e }}</span>
          </a><br>
          <a href="mailto:{{ site.company.email|e }}">
            <span itemprop="email">{{ site.company.email|e }}</span>
          </a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-menu">
          <span class="footer-menu-header">Connect</span><br>
          <a href="{{ site.company.social.instagram }}"
             rel="noopener noreferrer nofollow"
             target="_blank">Instagram</a>
          <br>
          <a href="{{ site.company.social.facebook }}"
             rel="noopener noreferrer nofollow"
             target="_blank">Facebook</a>
          <br>
          <a href="{{ site.company.social.linkedin }}"
             rel="noopener noreferrer nofollow"
             target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="wrapper">
      <p>
        &copy;2007-{{ "now"|date("Y") }} PetersenWest. All Rights Reserved.
        <a href="/privacy-policy">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>